version: '3'
services:
  sidekiq-workflows-test:
    build:
      context: .
      args:
        - CONTRIBSYS_CREDENTIALS
    depends_on:
      - redis_sidekiq_workflow
      - sidekiq-workflows-test-worker

  sidekiq-workflows-test-worker:
    build:
      context: .
      args:
        - CONTRIBSYS_CREDENTIALS
    command: "bundle exec sidekiq -r ./test/sidekiq_workflows/processor.rb"
    depends_on:
      - redis_sidekiq_workflow

  redis_sidekiq_workflow:
    image: redis:6.2.7
